.pcolor{
    color:#ad07fa;
}
body{
    /* background: #d48f34; */
    background: url('../image2.jpg');
}
h2{
    color: #e74c3c;
}

.div1{

    border: 5px solid #7ed6df;
    margin-top: 50px;
    margin-bottom: 80px;
}